
/* for log in */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
/* end log in */
.movieSection{
background-color: rgb(12, 43, 70);
/* background-image: url('../images/homebg2.jpg'); */
/* background-size: contain; */
margin:0 auto; /* this will center the page */
width:1300px; /*  use your width here */

}
.movie_display_img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    background-size: contain;

}

