{% extends "base.html" %}


{% block random_movie_content %}
 
<div class ="movieSection">
    
        <div class="container pt-3 text-light position-relative">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                    <img src="../static/images/fc_200x200.png"  width="200" height="200" style="filter: drop-shadow(2px 2px 20px #000000);" alt="...">
                    <h2 class="my-5">   Stay at home and Chill ....</h2>
                    <h2 class="my-5">   Refresh page to see random top 20 movies from 2020 ....</h2>
                    <br>
            </nav>
           
        </div>
        <div class="container-fluid position-relative">
            <h2 class="text-light mt-3 mt-xl-5 mb-2">Current 20 Popular Movies</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-ratio slider-item-ratio-3x4" style="filter: drop-shadow(2px 2px 20px #000000);">
                <div class="slider-container">
                    {% for pop_movie in cur_pop_movies_lst %}
                    <div>
                        <img src="{{pop_movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    {% endfor %}
                 
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>

            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Top 20 TV Shows</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-snapstart slider-item-ratio slider-item-ratio-3x4" style="filter: drop-shadow(2px 2px 20px #000000);">
                <div class="slider-container">
                    {% for pop_tv_show in cur_pop_tv_show_lst %}
                    <div>
                        <img src="{{pop_tv_show.image}}" class ="movie_display_img" alt="...">
                    </div>
                    {% endfor %}
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            </div>
           
        </div>
    
</div>

<br>
<br>
<br>




{% endblock %}