{% extends "base.html" %}


{% block random_movie_content %}

<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/main.css">

<div class="home_image" > 
<div id="movieSection">
    <div>
        <div class="container pt-3 text-light position-relative">
            <nav class="navbar navbar-expand-md navbar-light p-0">
                    <img src="../static/images/fc_200x200.png"  width="200" height="200" alt="...">
                    <h2 class="my-5">   Stay at home and Chill ....</h2>
                    <br>
            </nav>
           
        </div>
        <div class="container-fluid position-relative">
            <h2 class="text-light mt-3 mt-xl-5 mb-2">Trending</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>

            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Documentary</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-snapstart slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Just released</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>

                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>

            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Documentary</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-snapstart slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Documentary</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-snapstart slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            </div>

            <h2 class="text-light mt-3 mt-xl-5 mb-2">Documentary</h2>
            <div class="swiffy-slider slider-item-show5 slider-item-reveal slider-item-snapstart slider-item-ratio slider-item-ratio-2x1">
                <div class="slider-container">
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                    <div>
                        <img src="{{movie.image}}" class ="movie_display_img" alt="...">
                    </div>
                </div>

                <button type="button" class="slider-nav"></button>
                <button type="button" class="slider-nav slider-nav-next"></button>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>

</div>


{% endblock %}